<!DOCTYPE html>
<html lang="pt-br">	
<head>
		{% block head %}
		<title>{{ titulo }}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/fullcalendar.css" />	
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/unicorn.main.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/unicorn.grey.css" class="skin-color" />
		{% endblock %}
	</head>
	<body>				
		<div id="header">
			<h1><a href="dashboard.html">Unicorn Admin</a></h1>		
		</div>
		
		<div id="search">
			<input type="text" placeholder="Pesquisar..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Perfil</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Notificações</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">Notificação 1</a></li>
                        <li><a class="sAdd" title="" href="#">Notificação 2</a></li>
                        <li><a class="sAdd" title="" href="#">Notificação 3</a></li>
                        <li><a class="sAdd" title="" href="#">Notificação 4</a></li>
                        <li><a class="sAdd" title="" href="#">Notificação 5</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Configurações</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Sair</span></a></li>
            </ul>
        </div>
        {% block menu %}    
		<div id="sidebar">
			<a href="/" class="visible-phone"><i class="icon icon-home"></i> Home</a>
			<ul>
				<li class="active"><a href="/"><i class="icon icon-home"></i> <span>Home</span></a></li>
				<li><a href="/contratos/"><i class="icon icon-file"></i> <span>Contratos</span></a></li>
				<li><a href="/pagamentos/"><i class="icon icon-cog"></i> <span>Pagamentos</span></a></li>
				<li><a href="/relatorios/"><i class="icon icon-th-list"></i> <span>Relatórios</span></a></li>
				<li><a href="/unidadesgestoras/"><i class="icon icon-cog"></i> <span>Unidade Gestora</span></a></li>
				<li><a href="/unidadessolicitante/"><i class="icon icon-cog"></i> <span>Unidade Solicitante</span></a></li>				
				<li><a href="/usuarios/"><i class="icon icon-user"></i> <span>Usuários</span></a></li>				
			</ul>		
		</div>		
		{% endblock %}
		<div id="content">
			<div id="content-header">
				<h1>{{ nomePagina }}</h1>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Novo Contrato"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Perfil de Usuário"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Notificações"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div>
			</div>
			{% block breadcrumb %}
			<div id="breadcrumb">
				<a href="/" title="Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
				{% if nomePagina != "Home" %}									
					<a href="/" class="current">{{ nomePagina }}</a>
				{% endif %}				
			</div>
			{% endblock %}			
			<div class="container-fluid">
				<div class="row-fluid">
					{% block graficos %}
					<div class="span12 center" style="text-align: center;">					
						<ul class="stat-boxes">
							<li>
								<div class="left peity_bar_good"><span>2,4,9,7,12,10,12</span>+20%</div>
								<div class="right">
									<strong>50</strong>
									Vigentes
								</div>
							</li>							
							<li>
								<div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span>-10%</div>
								<div class="right">
									<strong>5</strong>
									Vencidos
								</div>
							</li>
							<li>
								<div class="left peity_line_good"><span>12,6,9,23,14,10,17</span>+50%</div>
								<div class="right">
									<strong>25</strong>
									Aditivado
								</div>
							</li>
						</ul>
					</div>
					{% endblock %}	
					{% block formulario %}
					{% endblock %}
				</div>					
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2013 &copy; Secretaria da Fazenda do Estado do Tocantins</a>
					</div>
				</div>
				
			</div>
		</div>
			{% block rodape %}
            <script src="{{ MEDIA_URL }}js/excanvas.min.js"></script>
            <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
            <script src="{{ MEDIA_URL }}js/jquery.ui.custom.js"></script>
            <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
            <script src="{{ MEDIA_URL }}js/jquery.flot.min.js"></script>
            <script src="{{ MEDIA_URL }}js/jquery.flot.resize.min.js"></script>
            <script src="{{ MEDIA_URL }}js/jquery.peity.min.js"></script>
            <script src="{{ MEDIA_URL }}js/fullcalendar.min.js"></script>
            <script src="{{ MEDIA_URL }}js/unicorn.js"></script>
            <script src="{{ MEDIA_URL }}js/unicorn.dashboard.js"></script>
            {% endblock %}
	</body>
</html>
