{% extends "base.html" %}
{% block graficos %}
{% endblock %}
{% block formulario %}
<div class="widget-box">
	<div class="widget-box">
		<div class="widget-title">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#tab1">Listagem</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tab2">Novo</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="widget-content tab-content">
		<div id="tab1" class="tab-pane active">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th"></i> </span>
					<h5>Cargos</h5>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Cargo</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for cargo in cargos %}
							<tr>
								<td>{{ cargo.id }}</td>
								<td>{{ cargo.nome }}</td>
								<td><a href="#" class="tip-top" data-original-title="Alterar"><i class="icon-ok"></i></a></td>
								<td><a href="#" class="tip-top" data-original-title="Excluir"><i class="icon-remove"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="tab2" class="tab-pane">
			<div class="widget-content nopadding">
				<div class="form-actions">
					<form action="" method="post" class="form-horizontal">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-success">
							Salvar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}